MILKOMEDA_TESTNET_DEPLOYER_PRIV_KEY=3667fbfd2851a1d339ad62acd65a0aa0d5fbe417bfec2b44d52fd08rdfe1b4b5
POLYGON_TESTNET_DEPLOYER_PRIV_KEY=
MILKOMEDA_MAINNET_DEPLOYER_PRIV_KEY=

MILKOMEDA_TESTNET_PROVIDER=https://rpc-devnet-cardano-evm.c1.milkomeda.com
POLYGON_TESTNET_PROVIDER=https://polygon-mumbai.infura.io/v3/YOUR_INFURA_KEY
MILKOMEDA_MAINNET_PROVIDER=https://rpc-mainnet-cardano-evm.c1.milkomeda.com
